.animetion-9 {
  background-color: #fff;
}

#body-9_menu-toggle {
  display: none;
}

.body-9_hamburger {
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: pointer;
}

.body-9_bun {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.18s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.15s;
}

.body-9_bun-crust {
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #151515;
  border-radius: 1px;
  position: absolute;
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.2s;
}

.body-9_bun-crust-top {
  transform: translateY(-10px);
}

.body-9_bun-crust-bottom {
  transform: translateY(10px);
}

#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-top {
  transform: rotate(45deg);
}

#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-bottom {
  transform: rotate(-45deg);
}

#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-crust-top,
#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-crust-bottom {
  transform: none;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}