.animetion-2 {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-size: 400% 400%;
  -webkit-animation: animetion-2 10s infinite ease-in-out;
          animation: animetion-2 10s infinite ease-in-out;
}

.body-2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.body-2::before, .body-2::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
.body-2::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  -webkit-animation: body-2 0.5s infinite linear;
          animation: body-2 0.5s infinite linear;
}
.body-2::after {
  width: 85%;
  height: 85%;
  background: linear-gradient(to right, #9d3495, #fd1d1d, #fc933d);
  background-size: 1800% 100%;
  -webkit-animation: animetion-2 10s infinite ease-in-out;
          animation: animetion-2 10s infinite ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes body-2 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes body-2 {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animetion-2 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes animetion-2 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}