.animetion-3 {
  background: #65c058;
}

.body-3 {
  position: relative;
  height: 85%;
  -webkit-animation: body-3 2s alternate infinite;
          animation: body-3 2s alternate infinite;
}

@-webkit-keyframes body-3 {
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes body-3 {
  100% {
    filter: hue-rotate(360deg);
  }
}