@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #1b1b25;
  height: 100%;
}

.wraper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 0;
}

.wrp_box {
  min-height: 150px;
  min-width: 350px;
  border-radius: 15px;
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.wrp_animetion,
.wrp_annotation {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.wrp_annotation {
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  background: rgba(100, 100, 100, 0.3);
  top: 0;
  left: 90%;
}
.wrp_annotation h3, .wrp_annotation p {
  margin-left: 10%;
  color: #fff;
  padding: 0 0 8px 5px;
  top: 40%;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.wrp_annotation p {
  color: rgba(255, 255, 255, 0);
}
.wrp_annotation:hover {
  top: 0;
  left: 10%;
  background: rgba(0, 0, 0, 0.6);
}
.wrp_annotation:hover p {
  top: 60%;
  color: white;
}
.wrp_annotation:hover h3 {
  top: 20%;
}

.body-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

::-webkit-scrollbar {
  display: none;
}

.animetion-1 {
  background: #ec6865;
}

.body-1 {
  text-decoration: none;
  font-size: 25px;
  color: #2F4F4F;
  padding: 10px 15px;
  border: 8px solid #2F4F4F;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.body-1::before,
.body-1::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all 0.5s;
}

.body-1::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.body-1::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}

.body-1:hover::before,
.body-1:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

.animetion-2 {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-size: 400% 400%;
  -webkit-animation: animetion-2 10s infinite ease-in-out;
          animation: animetion-2 10s infinite ease-in-out;
}

.body-2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.body-2::before, .body-2::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
.body-2::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  -webkit-animation: body-2 0.5s infinite linear;
          animation: body-2 0.5s infinite linear;
}
.body-2::after {
  width: 85%;
  height: 85%;
  background: linear-gradient(to right, #9d3495, #fd1d1d, #fc933d);
  background-size: 1800% 100%;
  -webkit-animation: animetion-2 10s infinite ease-in-out;
          animation: animetion-2 10s infinite ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes body-2 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes body-2 {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animetion-2 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes animetion-2 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.animetion-3 {
  background: #65c058;
}

.body-3 {
  height: 85%;
  -webkit-animation: body-3 2s alternate infinite;
          animation: body-3 2s alternate infinite;
}

@-webkit-keyframes body-3 {
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes body-3 {
  100% {
    filter: hue-rotate(360deg);
  }
}
.animetion-4 {
  background: #669cce;
}
.animetion-4 .wrp_animetion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.body-4_png,
.body-4_svg {
  position: relative;
}
.body-4_png img,
.body-4_svg img {
  width: 100%;
  height: 100%;
}
.body-4_png img:hover,
.body-4_svg img:hover {
  -webkit-animation: body-4 1s forwards;
          animation: body-4 1s forwards;
}

.body-4_png {
  width: 100px;
  height: 100px;
}

.body-4_svg {
  width: 110px;
  height: 110px;
}
.body-4_svg::after {
  content: attr(data-number);
  width: 25px;
  height: 25px;
  font-size: 19px;
  background-color: #d32b2b;
  color: #fff;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 10%;
  opacity: 0;
  transform: translateY(3px);
}
.body-4_svg:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s, transform 0.25s;
}

@-webkit-keyframes body-4 {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes body-4 {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
.animetion-5 {
  background: #1a0e25;
}

.body-5 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.body-5::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 5px;
  background-color: rgba(37, 37, 37, 0.4);
  border-radius: 10px;
  bottom: 25px;
}
.body-5::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  bottom: 25px;
  transition: width 1s;
}
.body-5:hover::after {
  width: 70%;
}

.body-5_icon {
  display: inline-block;
  font-size: 60px;
  -webkit-animation: body-5 3s ease-in-out infinite;
          animation: body-5 3s ease-in-out infinite;
}

.ri-instagram-line {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ri-facebook-circle-line {
  color: #1877f2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ri-whatsapp-line {
  color: #25d366;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes body-5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes body-5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.animetion-6 {
  background: #1a2639;
}

.body-6_wrp {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.body-6_lod {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #162534;
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  border-radius: 50%;
  -webkit-animation: body-6 5s linear infinite;
          animation: body-6 5s linear infinite;
}

.body-6_inr {
  border-top-color: #36f372;
  border-bottom-color: #fff;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes body-6 {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes body-6 {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.animetion-7 {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -8px;
}
.animetion-7:hover .body-7_img {
  transform: scale(1.15);
}

.body-7 {
  position: relative;
  width: 100%;
  height: 100%;
}
.body-7 h3 {
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 25px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.body-7_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  transition: transform 0.75s;
}

.body-8 {
  outline: 2px solid #fff;
  outline-offset: -2px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  position: relative;
}
.body-8 a {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: color 1s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.animetion-8:hover .body-8 a {
  color: #1b1b25;
}

.animetion-8::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20%;
  width: 0;
  height: 100%;
  background-color: #fff;
  transform: skewX(35deg);
  transition: width 1s;
}

.animetion-8:hover::before {
  width: 150%;
}

.animetion-9 {
  background-color: #fff;
}

#body-9_menu-toggle {
  display: none;
}

.body-9_hamburger {
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: pointer;
}

.body-9_bun {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.18s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.15s;
}

.body-9_bun-crust {
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #151515;
  border-radius: 1px;
  position: absolute;
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.2s;
}

.body-9_bun-crust-top {
  transform: translateY(-10px);
}

.body-9_bun-crust-bottom {
  transform: translateY(10px);
}

#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-top {
  transform: rotate(45deg);
}

#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-bottom {
  transform: rotate(-45deg);
}

#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-crust-top,
#body-9_menu-toggle:checked + .body-9_hamburger .body-9_bun-crust-bottom {
  transform: none;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.body-10 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #1d1d28;
}

.body-10_tile {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-10_tile div {
  height: 50px;
  width: 50px;
  transform: scale(1.15);
  transition: all 1.9s;
  background: #4469a0;
}

.animetion-10:hover .body-10_tile div {
  height: 0;
  width: 0;
}

.animetion-10:hover .body-10_tile-1 {
  transform: translate(-25px, -25px) rotate(5deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-2 {
  transform: translate(-17px, -30px) rotate(10deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-3 {
  transform: translate(-9px, -30px) rotate(20deg);
  transition-delay: 0.15s;
}

.animetion-10:hover .body-10_tile-4 {
  transform: translate(0, -30px) rotate(30deg);
  transition-delay: 0.1s;
}

.animetion-10:hover .body-10_tile-5 {
  transform: translate(9px, -30px) rotate(20deg);
  transition-delay: 0.15s;
}

.animetion-10:hover .body-10_tile-6 {
  transform: translate(17px, -30px) rotate(10deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-7 {
  transform: translate(25px, -25px) rotate(5deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-8 {
  transform: translate(-30px, 0) rotate(22deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-9 {
  transform: translate(-10px, 0) rotate(45deg);
  transition-delay: 0.1s;
  transition: all 1.9s;
}

.animetion-10:hover .body-10_tile-10 {
  transform: translate(-5px, 0) rotate(67deg);
  transition-delay: 0.05s;
  transition: all 1.65s;
}

.animetion-10:hover .body-10_tile-11 {
  transform: translate(0, 0) rotate(90deg);
  transition-delay: 0;
  transition: all 1.5s;
}

.animetion-10:hover .body-10_tile-12 {
  transform: translate(5px, 0) rotate(67deg);
  transition-delay: 0.05s;
  transition: all 1.65s;
}

.animetion-10:hover .body-10_tile-13 {
  transform: translate(10px, 0) rotate(45deg);
  transition-delay: 0.1s;
  transition: all 1.9s;
}

.animetion-10:hover .body-10_tile-14 {
  transform: translate(30px, 0) rotate(22deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-15 {
  transform: translate(-25px, 25px) rotate(5deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-16 {
  transform: translate(-17px, 30px) rotate(10deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-17 {
  transform: translate(-9px, 30px) rotate(20deg);
  transition-delay: 0.15s;
}

.animetion-10:hover .body-10_tile-18 {
  transform: translate(0, 30px) rotate(30deg);
  transition-delay: 0.1s;
}

.animetion-10:hover .body-10_tile-19 {
  transform: translate(9px, 30px) rotate(20deg);
  transition-delay: 0.15s;
}

.animetion-10:hover .body-10_tile-20 {
  transform: translate(17px, 30px) rotate(10deg);
  transition-delay: 0.2s;
}

.animetion-10:hover .body-10_tile-21 {
  transform: translate(25px, 25px) rotate(5deg);
  transition-delay: 0.2s;
}